#high-score-screen > #wall {
    position : absolute;
    left     : 0;
    top      : 0;
}

#high-score-screen > #ground {
    position : absolute;
    left     : 0;
    top      : 374px;
}

#high-score-screen > #leader-board {
    position: absolute;
    left: 50%;
    top : 50%;
    transform: translateX(-50%) translateY(-50%);

    width: 300px;
    height: 430px;
    background-color: white;
    border: 8px solid #3F7762;
    border-radius: 10px;
}

#high-score-screen > #leader-board > #title {
    padding: 10px 0 18px 0;
    color: white;
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Wawati TC', sans-serif;
    background-color: #3F7762;
}

#high-score-screen > #leader-board > #scores {
    padding: 38px;
    margin: 0;
    list-style: none;
}

#high-score-screen > #leader-board > #scores > li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'American Typewriter', sans-serif;
    font-weight: bold;
}

#high-score-screen > #leader-board #first-place,
#high-score-screen > #leader-board #second-place,
#high-score-screen > #leader-board #third-place {
    font-size: 26px;
}

#high-score-screen > #leader-board #first-place {
    color: #C20000;
}

#high-score-screen > #leader-board #second-place {
    color: #008E3C;
}

#high-score-screen > #leader-board #third-place {
    color: #BD7D00;
}

#high-score-screen > #leader-board #forth-place, #high-score-screen > #leader-board #fifth-place{
    font-size: 22px;
    color: #626262;
}


#high-score-screen > #leader-board > #scores > li:not(:last-child) {
    margin-bottom: 18px;
}

#high-score-screen > #replay-button {
    position: absolute;
    border-radius: 50%;

    top : 50%;
    left : 74px;
    transform: translateY(-50%);

    padding: 23px 20px 20px 23px;
    height: 58px;
    width: 55px;
    text-align: center;
    background-color: #3F7762;
}

#high-score-screen > #replay-button:hover {
    cursor: pointer;
}

#high-score-screen > #replay-button > #replay-icon {
    transition       : all 600ms cubic-bezier(1, 0, 0, 1);
}

#high-score-screen > #replay-button:hover > #replay-icon {
   transform: rotate(-270deg);
}

#high-score-screen > #character-bag, #high-score-screen > #character-cup {
    position: absolute;
    left: 50%;
    z-index: 1;
    bottom: 40px;
    width: 180px;
}

#high-score-screen > #character-bag {
    margin-left: calc(-150px - 90px);
}

#high-score-screen > #character-cup {
    margin-left: calc(+150px - 90px);
}

#high-score-screen > #blurry-background {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
}

#high-score-screen #fill-name-dialog {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: white;
    padding: 40px;
    z-index: 2;
    border: 6px solid #979797;
    border-radius: 6px;
}

#high-score-screen #fill-name-dialog #player-score {
    font-size: 48px;
    text-align: center;
    font-family: 'American Typewriter', sans-serif;
    margin-bottom: 40px;
    font-weight: bold;
    color: #717171;
}

#high-score-screen #fill-name-dialog #player-name-text-field {
    background-color: transparent;
    padding: 0 0 14px 0;
    border-top: none;
    font-family: 'American Typewriter', sans-serif;
    font-size: 22px;
    border-left: none;
    border-right: none;
    font-weight: bold;
    text-align: center;
    border-bottom: 2px solid #979797;
    outline: none;
    color: #717171;
    text-transform: capitalize;
}

#high-score-screen #fill-name-dialog #player-name-text-field::placeholder {
    color: #717171;
    text-transform: uppercase;
    opacity: 1;
}

#high-score-screen #fill-name-dialog #close-button {
    position: absolute;
    right: 0;
    top :0;
    transform: translateX(50%) translateY(-50%);

    background-color: #979797;
    padding: 14px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transition: background-color 100ms cubic-bezier(1, 0, 0, 1);
}

#high-score-screen #fill-name-dialog #close-button:hover {
    cursor: pointer;
    background-color: #717171;
}